################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Baidu.PushService.iOS/xs
/.vs/Baidu.PushService.iOS/v16/Server/sqlite3
/Baidu.PushService.iOS/obj/Debug
/BaiduPushDemo/obj/iPhoneSimulator/Debug
